Current weather in {{ .Location }} is {{ .TempC }}°C/{{ .TempF }}°F and {{ .Condition }} skyes, with a temperature sensation of {{ .FeelsLikeC }}°C/{{ .FeelsLikeF }}°F and a humidity of {{ .Humidity }}%. The wind is headed {{ .WindDir }} at {{ .WindKPH }}kph/{{ .WindMPH }}mph. 